# ==============================================================================
# Biến môi trường dùng chung
# ==============================================================================
DB_HOST=quickbite-db
DB_PORT=5432

# ==============================================================================
# Cấu hình User Service
# ==============================================================================
USER_DB_NAME=user_db
USER_DB_USERNAME=user_admin
USER_DB_PASSWORD=your_user_password
USER_SERVER_PORT=8081

# ==============================================================================
# Cấu hình Restaurant Service
# ==============================================================================
RESTAURANT_DB_NAME=restaurant_db
RESTAURANT_DB_USERNAME=restaurant_admin
RESTAURANT_DB_PASSWORD=your_restaurant_password
RESTAURANT_SERVER_PORT=8082

# ==============================================================================
# Cấu hình Order Service
# ==============================================================================
ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=order_admin
ORDER_DB_PASSWORD=your_order_password
ORDER_SERVER_PORT=8083

# ==============================================================================
# Cấu hình Notification Service
# ==============================================================================
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USERNAME=notification_admin
NOTIFICATION_DB_PASSWORD=your_notification_password
NOTIFICATION_SERVER_PORT=8084
